<strong>Olá.</strong>
<p>Você solicitou uma recuperação de senha e estamos te enviando o link de recuperação, acesse o site e informe a nova senha:</p>
<p>
  <strong><a href="{{ recoveryPasswordCode }}">Link</a></strong>
  <br />
  <small>Utilize esse código para validar sua redefinição de senha. O código tem validade de 4 horas</small>
</p>
